

<div class= "container"> 

    <div class="col s6 offset-s3 z-depth-1" id="panell">
        <h5 id="title">Creación de Asesor</h5>
     

    <form class="row g-3 needs-validation" novalidate>
      <div class="row">
        <div class="input col s6">
            <label for="txtNombres" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="txtNombres" placeholder="Escriba sus nombres" required>
            <div class="valid-feedback"> </div>
        </div>
        <div class="input col s5">
            <label for="txtApellidos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="txtApellidos" placeholder="Escriba sus apellidos" required>
            <div class="valid-feedback"></div>
        </div>
     </div>
     <div class="input col s4">
        <label for="txtDNI" class="form-label">DNI</label>
        <input type="text" class="form-control" id="txtDNI" placeholder="Escriba su identificación" required>
        <div class="valid-feedback"></div>
    </div>
    <div class="input col s4">
        <label for="txtGenero" class="form-label">Genero</label>
        <input type="text" class="form-control" id="txtGenero" placeholder="Escriba su género" required>
        <div class="valid-feedback"></div>
    </div>
    <div class="input col s4">
        <label for="txtCelular" class="form-label">Celular</label>
        <input type="text" class="form-control" id="txtCelular" placeholder="Escriba su celular" required>
        <div class="valid-feedback"></div>
    </div>
    <div class="input col s12">
        <label for="txtDieccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="txtDieccion" placeholder="Escriba su dirección" required>
        <div class="valid-feedback"></div>
    </div>
    <div class="input col s12">
        <label for="txtCorreo" class="form-label">Correo</label>
        <input type="text" class="form-control" id="txtCorreo" placeholder="Escriba su correo" required>
        <div class="valid-feedback"></div>
    </div>
    <div class="input col s12">
        <label for="txtClave" class="form-label">Clave</label>
        <input type="text" class="form-control" id="txtClave" placeholder="Escriba su clave" required>
        <div class="valid-feedback"></div>
    </div>
    <a class="waves-effect waves-light btn" id="loginbtn">Crear Asesor</a>

        

    </form>
  </div>

   
