<nav>
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
          <li><a routerLink="/administracion/crear-asesor">Asesor</a></li>
          <li><a routerLink="/administracion/crear-vehiculo">Vehiculos</a></li>
          <li><a routerLink="/solicitud/realizar-solicitud">Solicitud</a></li>
          <li><a routerLink="/seguridad/identificacion">Login</a></li>
          
      </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/administracion/crear-asesor">Asesor</a></li>
  <li><a routerLink="/administracion/crear-vehiculo">Vehiculos</a></li>
  <li><a routerLink="/solicitud/realizar-solicitud">Solicitud</a></li>
  <li><a routerLink="/seguridad/identificacion">Login</a></li>
</ul>

